@model userDemo1.Context.Role
@using userDemo1.Models;
@{
    ViewBag.Title = "Permissions";
    var rights = (UserRights)TempData["userRights"];
}

<h2>Role's Permissions'</h2>
@if (rights.ViewAuthorized)
{
    <div class="container">
        <label>Role Name: @Model.RoleName</label>

        <hr /><hr />
        <p>
            @if (rights.AddAuthorized)
            {
                @Html.ActionLink("Create New", "Create", new { RoleId = Model.RoleId })
            }
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RolesPermissions.First().ModuleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RolesPermissions.First().ViewPermission)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RolesPermissions.First().AddPermission)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RolesPermissions.First().EditPermission)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RolesPermissions.First().DeletePermission)
                </th>
            </tr>

            @if (Model.RolesPermissions.Count > 0)
            {
                foreach (var item in Model.RolesPermissions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModuleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ViewPermission)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddPermission)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EditPermission)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeletePermission)
                        </td>
                        <td>
                            @if (rights.EditAuthorized)
                            {
                                <a href="@Url.Action("Create", new { item.Id, item.ModuleName, item.ViewPermission, item.AddPermission, item.EditPermission, item.DeletePermission, item.RoleId, item.Role })"><i class="glyphicon glyphicon-pencil"></i></a>
                            }
                            @if (rights.DeleteAuthorized)
                            {
                                <a href="@Url.Action("Delete", new { item.Id })" style="padding-left:15px;"><i class="glyphicon glyphicon-trash"></i></a>
                            }
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <hr />
    @Html.ActionLink("Back to Role's List", "Index", "Roles")
}
else
{
    @Html.Partial("_UnAuthorizedView");
}